// colors
  // backgrond
  $bg-main: #FFFFFF;
  $bg-header: #46C9BA;
  $bg-buttons: #F9FAFB;
  $bg-buttons-active: #46C9BA;

  // font
  $fnt-main: #7F868E;
  $fnt-h1: #FFFFFF;
  $fnt-buttons-active: #FFFFFF;
  $fnt-headers: #1E1414;

  // border
  $brd: #E6E8EC;
  